body {
    text-align: center;
    background-color: lightblue
}

.intro {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.game1{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
