

/* word wrap */
a{overflow-wrap:normal;
overflow-wrap: break-word;}

/* flex */
.container {
    display: flex; /* or inline-flex */
    flex-direction: row | row-reverse | column | column-reverse; 
    /* deret hori atau verti */
    flex-grow: 4;
    flex-shrink: 3;
    flex-wrap: nowrap | wrap | wrap-reverse;
    flex-flow: column wrap;
    
}
  